AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossComments: true
  AcrossEmptyLines: false
AlignConsecutiveMacros:
  Enabled: true
  AcrossComments: true
  AcrossEmptyLines: false
AlignEscapedNewlines: Left
AllowShortFunctionsOnASingleLine: Empty
ContinuationIndentWidth: 2
ColumnLimit: 100
TabWidth: 2
PointerAlignment: Left
