AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveAssignments:
  Enabled: false
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossComments: true
  AcrossEmptyLines: false
AlignConsecutiveMacros:
  Enabled: true
  AcrossComments: true
  AcrossEmptyLines: false
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossComments: true
  AcrossEmptyLines: false
AlignEscapedNewlines: Left
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
BracedInitializerIndentWidth: 2
ContinuationIndentWidth: 4
ColumnLimit: 100
TabWidth: 2
PointerAlignment: Left
